* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #222;
}

.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  counter-reset: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input,
.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
}

.search input {
  height: 60px;
  border-radius: 30px;
  font-size: 18px;
  color: #555;
  padding: 10px 25px;
  margin-right: 16px;
  flex: 1;
}

.search button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}

.search button img {
  width: 16px;
}
